<script setup lang="ts">
import { reactive, ref } from "vue";
import type { FormItemRule } from "element-plus/es/components/form/src/form.type";
import type { Ref } from "vue";
import { setType, Partial } from "@/type";
import { loginIn } from "@/views/Main/service";
import type { userDataType } from "@/views/Main/components/LoginForm/type";

const userData: userDataType = reactive({
  username: "",
  password: "",
  appKey: "",
});
const rules: Partial<setType<userDataType, FormItemRule>> = Object.freeze({
  username: { required: true },
  password: { required: true },
});
const form = ref(null);
const loading: Ref<boolean> = ref(false);

const login = () => {
  (form.value as any).validate(async (valid: boolean) => {
    if (valid) {
      loading.value = true;
      await loginIn(userData);
      loading.value = false;
    }
  });
};
</script>

<template>
  <main v-bind="$attrs" class="flex-container-start flex-column form-container">
    <h1>FTL-OMS</h1>
    <el-form ref="form" label-position="top" :model="userData" :rules="rules" hide-required-asterisk>
      <el-form-item :label="$t('support.account')" prop="username">
        <el-input
          v-model="userData.username"
          style="width: 30vw"
          :placeholder="$t('AccountSwitch.placeholder')"></el-input>
      </el-form-item>
      <el-form-item :label="$t('account.password')" prop="password">
        <el-input v-model="userData.password" style="width: 30vw" :placeholder="$t('please input password')"></el-input>
      </el-form-item>
    </el-form>
    <div class="pt-16 flex-container-end" style="width: 30vw">
      <el-button type="primary" :loading="loading" @click="login">{{ $t("auth.login") }}</el-button>
    </div>
  </main>
</template>

<style scoped>
.form-container {
  width: 100%;
  height: 100%;
}
</style>
