<script setup lang="ts">
import type { menuItem } from "@/views/Main/components/SIdeBar/type";

const props = defineProps<{
  src: Array<menuItem>;
}>();
</script>

<template>
  <el-menu style="width: 210px;height: 100vh"  :background-color="'#092E67'" :text-color="'#fff'">
    <el-sub-menu v-for="item in src" :key="item.name" :index="item.id">
      <template #title>
        {{ item.cn }}
      </template>
      <el-menu-item v-for="child in item.children" :key="child.name" :index="child.id">
        {{ child.cn }}
      </el-menu-item>
    </el-sub-menu>
  </el-menu>
</template>

<style scoped></style>
