/*这里记录一些常用的css样式*/

/*一些常用的布局*/
.basic-container{
    min-height: 100vh;
    padding: 16px;
    background-color: #f9f9fa;
}
.grid-column__1_5{
    grid-column: 1/5;
}
.grid-column__2_4{
    grid-column: 2/4;
}
.grid-column__1_3{
    grid-column: 1/3;
}
.grid-column__3_5{
    grid-column: 3/5;
}
.row_12{
    row-gap: 12px;
}
.col_12{
    column-gap: 12px!important;/*作为装饰类，所以优先级最高*/
}
.grid-col2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
}
.grid-col3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 24px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-container-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-container-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-container-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
/*图标常用边距*/
.icon-margin{
    margin-right: 8px;
}
/*字体大小*/
.H4{
    font-size: 1.563rem;
    line-height: 33px;
    font-weight: 400;
}
.basic-text{
    font-size: 1rem;
    line-height: 21px;
}
.basic-text__12{
    font-size: 12px;
    line-height: 12px;
}
.basic-text__14{
    font-size: 14px;
    line-height: 14px;
}
.basic-text__16{
    font-size: 16px;
    line-height: 16px;
}
.basic-title__34{
    font-size: 34px;
    line-height: 34px;
}
.basic-title__27{
    font-size: 27px;
    line-height: 27px;
}
.basic-title__22{
    font-size: 22px;
    line-height: 22px;
}
/*一些常用的伪元素*/

.basic__HoverElement:hover{
    cursor: pointer;
}
/*一些常用的边距*/
.mt-8{
    margin-top: 8px;
}
.mt-12{
    margin-top: 12px;
}
.mt-16{
    margin-top: 16px;
}
.mt-24{
    margin-top: 24px;
}
.mt-32{
    margin-top: 32px;
}
.ml-8{
    margin-left: 8px;
}
.ml-12{
    margin-left: 12px;
}
.ml-16{
    margin-left: 16px;
}
.mr-8{
    margin-right: 8px;
}
.mr-12{
    margin-right: 12px;
}
.mr-16{
    margin-right: 16px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-36{
    margin-bottom: 36px;
}
.pr-8{
    padding-right: 8px;
}
.pl-8{
    padding-left: 8px;
}
.pl-16{
    padding-left: 16px;
}
.pl-24{
    padding-left: 24px;
}
.pr-16{
    padding-right: 16px;
}
.pr-24{
    padding-right: 24px;
}
.pt-16{
    padding-top: 16px;
}
.pt-24{
    padding-top: 24px;
}
.pb-12{
    padding-bottom: 12px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24{
    padding-bottom: 24px;
}


/*一些字体样式*/
.text-align{
    vertical-align: center;
}
.text-bold{
    font-weight: bold;
}
.text--overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*一些常用的字体颜色针对系统*/
.comment__text{
    color:#555;
}
.normal__text{
    color:#333
}

/*一些常用的样式*/
.scroll--auto{
    overflow: auto;
}
.disable:hover{
    cursor: not-allowed !important;
}
