/* global transition css */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.28s;
}

.fade-enter-from,
.fade-leave-active {
    opacity: 0;
}


/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s;
}

.fade-transform-enter-from {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(20px);
}

.breadcrumb-move {
    transition: all .5s;
}

.breadcrumb-leave-active {
    position: absolute;
}
/*list-transform*/

.list-enter-from,.list-leave-to{
    opacity: 0;
    transform: translateY(30px);
}

.list-leave-active{
    position: absolute;
    transition: all .5s;
}

.list-move{
    transition: all 1s;
}


/*width用于宽度改变时应用的过渡效果*/

.width-enter-from,
.width-leave-to{
    width: 0;
}

.width-enter-active,
.width-leave-active{
    transition: width ease-out .5s;
}
