<script setup lang="ts">
import { computed, watchEffect, ref } from "vue";
import type { Ref } from "vue";
import type { menuItem } from "@/views/Main/components/SIdeBar/type";
import authStore from "@/store/auth";
import LoginForm from "@/views/Main/components/LoginForm/index.vue";
import { getMenu } from "@/views/Main/service";
import SideBar from "@/views/Main/components/SIdeBar/index.vue";

const menuData: Ref<Array<menuItem>> = ref([]);

const auth = authStore();
const loginVisible = computed(() => auth.token);
const resize = computed(() => (loginVisible.value ? "main__normal" : "main__small"));

const test = () => {
  auth.reRegister();
};
watchEffect(() => {
  if (loginVisible.value) {
    getMenu(menuData);
  }
});
</script>

<template>
  <div class="container flex-container-start">
    <transition name="fade">
      <aside v-show="!loginVisible" class="sidebar">
        <login-form></login-form>
      </aside>
    </transition>
    <main :class="['main', resize, 'flex-container-start']">
      <aside v-if="loginVisible">
        <side-bar :src="menuData"></side-bar>
      </aside>
      <main class="main-container" style="flex-grow: 2">
        <div v-if="loginVisible">
          <header>
            <el-button @click="test">TEST</el-button>
          </header>
        </div>
        <el-empty v-else :image-size="400"></el-empty>
      </main>
    </main>
  </div>
</template>

<style scoped lang="scss">
.container {
  background: $contain-background;
  width: 100vw;
  min-height: 100vh;
  .sidebar {
    width: 50vw;
    height: 100vh;
    background: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 5px 0 5px $boxShadow-color;
  }
  .main {
    height: 100vh;
    width: 100vw;
    background: #fff;
    transition: all 0.5s;
    .main-container {
      height: 100%;
    }
  }
  .main__normal {
    transform: scale(1, 1);
  }
  .main__small {
    transform: scale(0.8, 0.8);
    box-shadow: 30px 30px 10px $boxShadow-color;
    border-radius: 20px;
  }
}
</style>
